.table_img{background: url('../../assets/images/image.png');background-repeat: no-repeat;background-size: cover;position: relative;top: -35px;}
.vertical{position: absolute;left: 100px; bottom: 140px;}
.bubble{margin-right: 10px;}
.percent {position: relative;left: -98px;top: 40px;font-size:26px;
    font-weight: 600;}
.roadmap_content {background: url('../../assets/images/CryptoSlut-background/inner-bg.png');background-repeat: no-repeat}
.road_map {position: relative;top: 131px;}
.clubgrowth{position: relative; top: 125px;}
.get_section{margin-top: 200px!important;}
.getsection{position: relative;top: 175px;}